body{
    background-color: rgb(35, 80, 148, 0.8); /* //rgb(224, 224, 224);  rgb(35, 80, 148); */
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-image: url("images/background-pic.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 50vh;
}



.main{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template: "header" auto
                    "nav" auto
                    "presentation1" auto
                    "presentation2" auto
                    "client" auto
                    "contact" auto
                    "footer" auto / 1fr;
    opacity: 0.98;
    background-color: rgb(238, 238, 238);
    
}

.header-section{
    grid-area: header;
    background-color: rgb(238, 238, 238);
    overflow: hidden;
    position: relative;
}

#logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#logo-header{
    font-weight: lighter;
    z-index: 4;
}

#header-background{
    position: absolute;
    height: 250px;
    width: 1700px;
    z-index: 2;
}

.header-background-animation{
    animation: resize ease-in-out 2 10s;
}

#header-icon{
    z-index: 5;
}

@keyframes resize{
    0% {
      }
    50%{
        width: 2000px;
        height: 200px;
    }  
    100% {
        width: 1700px;
        height: 250px;
      }

}

.nav-section{
    grid-area: nav;    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    background-image: linear-gradient(to right, rgb(139, 203, 251), rgb(15, 65, 139), rgb(139, 203, 251));
}

.nav-section ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.nav-section li{
    padding: 5px 9%;    
    background-color: rgb(252, 247, 247);
    font-weight: bold;
}

.company-presentation1{
    grid-area: presentation1;
    background-color:  rgb(238, 238, 238);
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#pres-text{
    z-index: 2;
    width: 1000px;
    height: 340px;
    line-height: 22px;
    font-size: 19px;
}

#pres-header{
    z-index: 2;
    font-weight: lighter;
    font-size: 40px;
    margin: 20px 0px;
}

#pres-logo{
    position: absolute;
    z-index: 0;
    margin-top: 310px;
    margin-left: 100px;
    opacity: 0.1;
    width: 1800px;
    height: 700px;
    user-select: none;
}



.pres-pics img{
    height: 150px;
    width: 200px;
}


#pres-phase-pic{
    margin-left: 35px;
}

.company-presentation2{
    grid-area: presentation2;
    background-color: rgb(238, 238, 238);
}

.pres-pics{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

#pres-number-pic{
    height: 50px;
    width: 50px;
}


.pres-pics p{
    text-align: center;
}

#pres-phase-headers{
    display: flex;
    justify-content: center;
    margin: 6px 0px;
}

#pres-phase1, #pres-phase2, #pres-phase3{
    width: 260px;
    z-index: 5;
}

#phase1-inside-pic{
    width: 66px;
    height: 60px;
    top: 82px;
    right: 82px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#phase2-inside-pic{
    width: 200px;
    height: 150px;
    top: 54px;
    right: 25px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#phase3-inside-pic{
    width: 200px;
    height: 150px;
    top: 54px;
    right: 25px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

  

.float-effect {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.float-effect:hover, .float-effect:focus, .float-effect:active {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}
  
.phase1-pic-animation{
      animation: fadeInAndOut ease-out 5s infinite 0s;
}

.phase2-pic-animation{
    animation: fadeInAndOut ease-in-out 5s infinite 2s;
}

.phase3-pic-animation{
    animation: fadeInAndOut ease-in-out 5s infinite 3.5s;
}

  @keyframes fadeInAndOut{
    0% {
        opacity:0;
      }
    23.3333%{
        opacity: 1;
    }  
    33.3333% {
        opacity: 0.2;
      }
}


.client-section{
    grid-area: client;
    background-color: rgb(238, 238, 238);
    height: 800px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.clientCase-Container{
    background-color: skyblue;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.case-Slider{
    height: 100%;
    width: 800px;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}


#bSlideInit {
    display: block;
}

.bSlideImages img{
    height: 600px;
    width: 100%;
}


.bSlideImages{
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
}
.next{
    right: -42px;
}

.prev{
    right: 800px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);    
    color: #fefefe;
}

.textInside{
    color: #fefefe;
    font-size: 22px;
    padding: 8px 25px;
    position: absolute;
    bottom: 8px;
    width: 580px;
    text-align: start;
}

.textInside:hover{
    cursor: pointer;
}

.numberText{
    color: #fefefe;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.contact-section{
    grid-area: contact;
    background-color: wheat;
}

.footer{
    grid-area: footer;
    background-color: aquamarine;
}