body{
    background-color: rgb(224, 224, 224);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("images/background-pic.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 50vh;
    
}

.main{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template: "header" auto
                    "nav" auto
                    "presentation1" auto
                    "presentation2" auto
                    "client" auto
                    "contact" auto
                    "footer" auto / 1fr;
    
}

.header-section{
    grid-area: header;
    background-color: rgb(238, 238, 238);
}

#logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-header{
    font-weight: lighter;
}

.nav-section{
    grid-area: nav;    
    /* background-color: rgb(15, 65, 139);   rgb(110, 110, 110) rgb(238, 238, 238)*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    background-image: linear-gradient(to right, rgb(224, 224, 224), rgb(15, 65, 139) , rgb(127, 211, 245), rgb(15, 65, 139), rgb(224, 224, 224));
}

.nav-section ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.nav-section li{
    padding: 5px 9%;    
    background-color: rgb(252, 247, 247);
    font-weight: bold;
}

.company-presentation1{
    grid-area: presentation1;
    background-color:  rgb(238, 238, 238);
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#pres-text{
    z-index: 2;
    width: 1000px;
    height: 340px;
    line-height: 22px;
    font-size: 19px;
}

#pres-header{
    z-index: 2;
    font-weight: lighter;
    font-size: 40px;
    margin: 20px 0px;
}

#pres-logo{
    position: absolute;
    z-index: 0;
    margin-top: 310px;
    margin-left: 100px;
    opacity: 0.2;
    width: 1900px;
    height: 800px;
    user-select: none;
}

.pres-pics img{
    height: 150px;
    width: 200px;
}


#pres-phase-pic{
    margin-left: 35px;
}

.company-presentation2{
    grid-area: presentation2;
    background-color: rgb(238, 238, 238);
}

.pres-pics{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#pres-number-pic{
    height: 50px;
    width: 50px;
}


.pres-pics p{
    text-align: center;
}

#pres-phase-headers{
    display: flex;
    justify-content: center;
    margin: 6px 0px;
}

#pres-phase1, #pres-phase2, #pres-phase3{
    width: 260px;
    z-index: 5;
}

#phase1-inside-pic{
    width: 66px;
    height: 60px;
    top: 82px;
    right: 82px;
    position: absolute;
    z-index: -1;
}

.float-effect {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .float-effect:hover, .float-effect:focus, .float-effect:active {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
  }
  


.client-section{
    grid-area: client;
    background-color: springgreen;
}

.contact-section{
    grid-area: contact;
    background-color: wheat;
    height: 1200px;
}

.footer{
    grid-area: footer;
    background-color: aquamarine;
}