body{
    background-color: rgb(224, 224, 224);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    background-color: aquamarine;
    display: grid;
    grid-template: "header" auto
                    "nav" auto
                    "presentation" auto
                    "client" auto
                    "contact" auto
                    "footer" auto / 1fr;
}

.header-section{
    grid-area: header;
    background-color: silver;
}

#logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-header{
    font-weight: lighter;
}

.nav-section{
    grid-area: nav;
    background-color: sienna;
}

.nav-section ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.company-presentation{
    grid-area: presentation;
    background-color: skyblue;

}

.client-section{
    grid-area: client;
    background-color: springgreen;
}

.contact-section{
    grid-area: contact;
    background-color: wheat;
}

.footer{
    grid-area: footer;
    background-color: aquamarine;
}